<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <video :src="videoUrl" controls autoplay></video>
      <div>
        {{videoUrl}}
      </div>
      <ul>
        <li v-for="file in files" :key="file.magnet">
          <div>{{file.filename}}</div>
          <button @click="play(file)">Клик</button>
        </li>
      </ul>
    </div>
    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            activeVideo: {},
            files: [
              {
                magnet: "8EFAEEA10552EEE1A335676AF72C831272AB8E93",
                filename: "Тетрадь смерти 5.mkv",
              },
              {
                magnet: "8EFAEEA10552EEE1A335676AF72C831272AB8E93",
                filename: "Тетрадь смерти 1.mkv",
              },
            ],
          };
        },
        computed: {
          videoUrl: ({activeVideo}) => activeVideo.magnet ? `stream/${activeVideo.magnet}/${activeVideo.filename}` : ''
        },
        methods: {
          async play(file) {
            console.log(file.magnet)
            const responce = await axios.get(`/stream/add/${file.magnet}`);
            this.activeVideo = file;
          },
        },
      }).mount("#app");
    </script>
  </body>
</html>
